{{!template-lint-disable}}
{{! https://github.com/empress/field-guide/blob/v1.5.0-1/addon/templates/components/dynamic-template-error.hbs }}

<div>
  <h1> Error Rendering the Dynamic Template </h1>

  <p>Check the console to see the details of the error</p>
</div>
