<div class="Route-Application">
  <header class="Route-Application-Header">
    <div>
      <h2>{{t "route.application.title"}}</h2>

      <p>
        {{t "route.application.slogan"}}
      </p>
    </div>

    <Toc class="Route-Application-Toc"/>
  </header>

  <main class="Route-Application-Content">
    <div class="Route-Application-Content-Inner">
      {{outlet}}
    </div>
  </main>
</div>
