<div data-test-error-message>
  <strong data-test-title>{{t "errors.somethingWentWrong"}}</strong>
  <span data-test-description>{{t-error this.error}}</span>
  <br>
  <LinkTo @route="index" class="alert-link" data-test-link>{{t "errors.backToHomepage"}}</LinkTo>
</div>
