<div>
  <h2>Click test</h2>

  <button
    data-test-click-button
    type="button"
    {{on "click" this.clickTestAction}}
  >
  </button>

  {{#if this.clickTestProp}}
    <span data-test-click-result>

    </span>
  {{/if}}
</div>>