// https://chir.ag/projects/name-that-color

$black: #000;
$black-transparent: rgba($black, 0.6);
$blue-chathams: #184B7F;
$blue-picton: #54B6E9;
$grey-tuna: #333437;
$grey-silver: #ccc;
$grey-mercury: #E6E6E6;
$white: #fff;
